*{
    margin: 0px;
    padding: 0px;
}
:root {
    --yellow: #FFFEF3;
    --white: #ffffff;
    --yellow2:  #D97A0A;
    --black: #171717;
    --grey: #454545;
}
.erii{
    font-size: 20px;
    text-align: center;
}
.counter{
    color: var(--white);
    overflow: hidden;
}
.icon{
    width: 50%;
}
.gradient{
    background: linear-gradient(90deg, #1B1B1B 40%, #D97A0A 80.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
}
.cbtn {
    border-radius: 50px;
    padding: 0;
    height: 30px;
    width: 30px;
    margin-right: 15px;
    border: 1px solid var(--yellow2);
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--yellow2);
    color: var(--white);
    text-decoration: none;
}
.section{
    padding: 2rem 9%; 
}
.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 20vh;
    align-items: center;
}
/* 
.home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
} */
/* .home .image{
     flex: 1 1 20rem; 
} */
.anima{
    padding: 1rem;
    animation: float 3s linear infinite;
}
@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
    }
}
h3{
    font-size: 50px;
    color: var(--yellow2);
}
.price{

    font-family: 'Poppins', sans-serif;
    color: var(--yellow2);
    font-weight: 600;
}
.price .point{
    font-weight: 500;
}
.tes{
    color: var(--yellow2) ;
}
.card-text{
    font-size: 12px;
    color: var(--grey);
    font-family: 'Poppins', sans-serif;
}
.card-title{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.card-body{
    font-family: 'Poppins', sans-serif;
}
.carousel-next-icon, .carousel-prev-icon{
    color: var(--yellow2);
    font-size: 40px;
    font-weight: 400;
}
.cards{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    transition: all 0.3s;
}
.card{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    
}
.cards:hover{
    transform: scale(1.15);
}

.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}

.heading span{
    color: var(--yellow2);
}

.updbtn{
    background-color: var(--yellow2)!important;
    color: var(--white)!important;
}


.updbtn:hover{
    background-color: var(--black) !important;
    color: var(--white) !important;
}

.updform{
    font-family: 'Poppins', sans-serif;
}
.view{
    background-color: var(--black) !important;
    color: var(--white) !important;
}
.view:hover{
    background-color: var(--yellow2) !important;
    color: var(--white) !important;
}

.view_btn{
    text-decoration: none;
}

.addToCartBtn{
    color: var(--white);
    background-color: var(--black);
    text-decoration: none;
    
}

.addToCartBtn:hover{
    color: var(--white);
    background-color: var(--yellow2);
    border: 1px solid var(--yellow2);
}

.food_heading{
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 550;
}

.return{
    color: var(--yellow2);
}
html { height: 100%; } 
body { min-height: 100%; } 

.regbtn{
    color: var(--white);
    background-color: var(--black);
    text-decoration: none;
}

.footerstyle {
    color: var(--white);
} 

.counter{
    color: var(--white);
}
.icon{
    width: 50%;
}
.checkouthead{
    color: #D97A0A;
}



.form-horizontal{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;  
}

/* Hide Radio btn  */
.rate > input {
    display: none;
}

.rate{
    display: inline-block;
    border: 0;
}
.rate > label{
    float: right;
}
/* showing the stars */
.rate > label:before{
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}
/* half class */
.rate .half:before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
}
/* click and hover */
input:checked ~ label, label:hover ~ label{
    color: #ffb503;
}

/* hover highlight */
input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label, 
label:hover ~ input:checked ~ label{
    color: #cc9000;
}

#total-orders{
    background-color: var(--black);
}

#orders-delivered{
    background-color: var(--yellow2);
}

#total-pending{
    background-color: var(--grey);
}

.wave{
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.login-image{
    width: 400px;
    height: 700px;
}

.foodlist {
    overflow: hidden;
  }