{% extends "admin/adminbase.html" %}

{% block title %} Admin Home {% endblock %}
{% block content %}

<br>
<div class="container col-md-9 ms-sm-auto col-lg-10 px-md-4">

    {% include 'admin/status.html' %}

    <div class="row">
        <div class="col md-12">
            <h3 class="mt-5 mb-5">Pending Orders</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>SN</th>
                        <th>Order ID</th>
                        <th>Customer</th>
                        <th>Ordered On</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in pendingorders %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'restroapp:adminorderdetail' order.id %}">ORD:{{order.id}}</a></td>
                        <td>{{order.ordered_by}}</td>
                        <td>{{order.created_at}}</td>
                        <td>Rs. {{order.total}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}