{% extends 'admin/adminbase.html' %}
{% load static %}
{% block title %} All food {% endblock %}
{% block content %}

<div class="">
    <div class="row foodlist" >
        <div class="col-md-10 mx-auto">
            <h4 class="mt-5 mb-5 erii gradient heading"></i> All Food List</h4>
          
           
            <a href="{% url 'restroapp:food-create'  %}" class="btn btn-secondary mb-3"><i class="bi bi-plus"></i>Add Food</a>
           
            <table class="table table-hover table-responsive">
                <thead class="table-dark">
                    <tr>
                        <th>SN.</th>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Return Policy</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in food_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{f.title}}</td>
                        <td>{{f.description}}</td>
                        <td>Rs. {{f.selling_price}}</td>
                        <td><img src="{{ f.image.url }}" alt="{{ f.name }}" width="100" height="100"></td>
                        <td>{{f.return_policy}}</td>
                        <td>
                            <!-- requires dynamic id of cart product obj which retrives cart product -->
                            
                            <a href="{% url 'restroapp:update' f.pk %}" class="btn updbtn  ">Update</a>
                        </td>
                            <!-- <button class="btn btn-danger" type="button" data-toggle="modal"
                                data-target="#updateModal{{ f.id }}" action="{% url 'restroapp:update' f.pk %}">Update</button> -->
                            <!-- Update Modal -->
                            <!-- <div class="modal fade" id="updateModal{{ f.id }}" tabindex="-1" role="dialog"
                                aria-labelledby="updateModalLabel{{ f.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="updateModalLabel{{ f.id }}">Update Food
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="{% url 'restroapp:update' f.pk %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Update</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancel</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <a href="{% url 'restroapp:food-delete' f.pk %}" class="btn view">Delete</a> -->
                            <td>
                            <button class="btn btn-danger" type="button" data-toggle="modal"
                                data-target="#deleteModal{{ f.id }}">Remove</button>

                            <!-- Delete Modal -->
                            <div class="modal fade" id="deleteModal{{ f.id }}" tabindex="-1" role="dialog"
                                aria-labelledby="deleteModalLabel{{ f.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel{{ f.id }}">Remove Food
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to remove the food?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancel</button>
                                            <form method="post" action="{% url 'restroapp:food-delete' f.pk %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            <nav aria-label="...">
                <ul class="pagination justify-content-end">
                  {% if food_list.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ food_list.previous_page_number }}">Previous</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  {% endif %}
          
                  {% for i in food_list.paginator.page_range %}
                  {% if i == food_list.number %}
                  <li class="page-item active"><a class="page-link">{{i}}</a></li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                  {% endif %}
                  {% endfor %}
          
                  {% if food_list.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ food_list.next_page_number }}">Next</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                  </li>
                  {% endif %}
                </ul>
              </nav> 
        </div>
    </div>
</div>
{% endblock %}