{% extends "admin/adminbase.html" %}

{% block title %} Admin Home {% endblock %}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    
    <h2>Welcome</h2>
    <div class="input-div">
        <div class="i">
            <i class="fas fa-user"></i>
        </div>
        <div>
            {% csrf_token %}
            {{form.as_p}}
        </div>
    </div>

    <button class="btn view" href="{% url 'restroapp:food-create'  %}">Create</button>

</form>
{% endblock %} 