{% extends "admin/adminbase.html" %}

{% block title %} Ingredient Update {% endblock %}
{% block content %}
<form action="" method="POST">
    
    <h1 class="text-center mt-5 mb-5">UPDATE INGREDIENT DETAILS</h1>
    <div class="input-div mx-auto col-10 col-md-8 col-lg-6 updform">
        <div >
            {% csrf_token %}
            {{form.as_p}}
        </div>
    </div>
    <div class="text-center">
    <button class="btn view justify-content-center mb-5" href="{% url 'restroapp:ingredientupdate' ingredients.pk %}">Update</button>
    </div>
</form>
{% endblock %} 