{% extends 'base.html' %}

{% block title %} Categories {% endblock %}

{% block content %}
<div class="container">
  <h3 class="mt-5">Categories</h3>
  <hr>
  {% for cat in allcategories %}
  <h4>{{cat.title}}</h4>
  <hr>
  <div class="row g-3 gx-5 mt-5 mb-5 card-group">
    {% for f in cat.food_set.all %}
    <div class="col-12 col-md-6 col-lg-3 col xl-3">
      <div class="card h-100">
        <img src="{{f.image.url}}" alt="" class="img-fluid" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{f.title}}</a></h5>
          <p class="card-text">{{f.description}}</p>
          <div class="row">
            <p class="price col">
              Rs. {{f.selling_price}}<small class="point">.00</small>
            </p>
            <a class="cbtn" href="{% url 'restroapp:addtocart' f.id %}" onclick="alert('product added to cart!');return; false;" style="text-decoration: none;">
              +
            </a>
          </div>
          <button class="btn view col-12" href="{% url 'restroapp:fooddetail' f.slug %}"><a
              href="{% url 'restroapp:fooddetail' f.slug %}" style="text-decoration: none;" class="card-title  view ">View
              More</a></button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}