{% extends 'base.html' %}

{% load static %}
{% block title %}Customer Login{% endblock %}

{% block content %}
<style>
    .errorlist {
        color: red;
    }
    
</style>
<html>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-9  login-image">
                    <div>
                        <img src="{% static 'images/eating.svg' %}">
                    </div>
                </div>
                <div class="col-3">
                    <div class="login-container">
                        <form action="" method="POST">
                            <h2>Welcome</h2>
                            <div class="input-div">
                                <div class="i">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div>
                                    {% csrf_token %}
                                    {{form.as_p}}
                                </div>
                            </div>
                            <button class="btn view">Login</button>
                            {% if error %}
                            <li style="color: red;">{{error}}</li>
                            {% endif %}
                        </form>
                        <p class="mt-2"> Don't have account? <a href="{% url 'restroapp:customerregistration' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Register here!</a></p>
        
                    </div>
                </div>
            </div>
            
            
        </div>
    </body>
</html>
{% endblock %}