{% extends 'base.html' %}

{% block title %}Customer Registration{% endblock %}

{% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5 ">
            <h2>Customer Registration Form</h2>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn view">Register</button>
            </form>
            <p class="mt-2"> Already have an account? <a href="{% url 'restroapp:customerlogin' %}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock %}