{% extends 'base.html' %}

{% block title %}{{food.title}}{% endblock %}

{% block content %}
<div class="container">
    <!-- <h3 class="mt-3">{{food.title}}</h3><hr> -->
    <div class="row mt-5">
        <div class="col-md-5">
            <img src="{{food.image.url}}" alt="" class="img-fluid"
                style=" height: 550px; width: 500px; object-fit: cover;">
            <div class="row">
                {% for fi in food.foodimage_set.all %}
                <div class="col-md-4 p-3">
                    <a href="{{fi.image.url}}" target="_blank">
                        <img src="{{fi.image.url}}" class="img-fluid" style="height: 100px; object-fit: contain;"
                            alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="food_heading">{{food.title}}</h2>
            <h5>Description</h5>
            <p>{{food.description}}</p>
            <h5 class="price">
                Rs. {{food.selling_price}}<small class="point">.00</small>
            </h5>
            <h5>Category: {{food.category}}</h5>

            <a href="{% url 'restroapp:addtocart' food.id %}" class="btn addToCartBtn">Add To Cart</a>
            <hr>
            <p class="return">Return Policy: {{food.return_policy}}</p>
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-9">
            <header class="section-heading">
                <h3 class="mt-5">Customer Reviews</h3>
                <form action="{% url 'submit_review' single_food.id %}" method="POST">
                    {% csrf_token %}
                <h5 class="text-uppercase font-weight-bold" >Write Your Review</h5>
                <div>

                    <label>How do you rate this product?</label>
                    <br>
                    <div class="rate">
                        <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
                        <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
                        <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
                        <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
                        <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
                        <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
                        <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
                        <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
                        <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
                        <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
                    </div>
                    <br>
                    Review Title:
                    <input type="text" class="form-control" name="subject" >
                    <br>
                    Review:
                    <textarea name="review" rows="4" class="form-control"></textarea>
                    <br>
                    <input type="submit" value="Submit Review" class="btn btn-primary">
                </div>
                </form>
                <br>
            </header>
        </div>
    </div>
</div>
{% endblock %}