{% extends 'base.html' %}

{% block title %}{{food.title}}{% endblock %}

{% block content %}
<div class="container">
    <!-- <h3 class="mt-3">{{food.title}}</h3><hr> -->
    <div class="row mt-5">
        <div class="col-md-5">
            <img src="{{food.image.url}}" alt="" class="img-fluid"
                style=" height: 550px; width: 500px; object-fit: cover;">
            <div class="row">
                {% for fi in food.foodimage_set.all %}
                <div class="col-md-4 p-3">
                    <a href="{{fi.image.url}}" target="_blank">
                        <img src="{{fi.image.url}}" class="img-fluid" style="height: 100px; object-fit: contain;"
                            alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="food_heading">{{food.title}}</h2>
            <h5>Description</h5>
            <p>{{food.description}}</p>
            <h5 class="price">
                Rs. {{food.selling_price}}<small class="point">.00</small>
            </h5>
            <h5>Category: {{food.category}}</h5>

            <a href="{% url 'restroapp:addtocart' food.id %}" class="btn addToCartBtn">Add To Cart</a>
            <hr>
            <p class="return">Return Policy: {{food.return_policy}}</p>
            <hr>
        </div>
    </div>
    <div class="col-sm-5 mt-2">
        <h5 class="text-uppercase font-weight-bold" >Write Your Review</h5>
    
        <form class="review-form" method="GET" action="/review">
            {% for f in food %}
            <input type="hidden" name="food_id" id="food_id" value="[{f.id}]" />
            {% endfor %}
            <div class="form-group">
                <textarea class="input" type="text" name="comment" placeholder="Your Review">
                </textarea>
            </div>
            <div class="form-group">
                <div class="input rating">
                    <p class="text-uppercase font-weight-bold">Your Rating:</p>
                    <div class="rating-wrapper">
                        <input type="radio" id="star-5" name="rate" value="5" />
                        <label for="star-5" class="fas fa-star"></label>
                        <input type="radio" id="star-4" name="rate" value="4" />
                        <label for="star-4" class="fas fa-star"></label>
                        <input type="radio" id="star-3" name="rate" value="3" />
                        <label for="star-3" class="fas fa-star"></label>
                        <input type="radio" id="star-2" name="rate" value="2" />
                        <label for="star-2" class="fas fa-star"></label>
                        <input type="radio" id="star-1" name="rate" value="1" />
                        <label for="star-1" class="fas fa-star"></label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}