{% extends 'base.html' %}
{% load static %}
{% block title %}My Cart{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="mt-5 mb-5 erii gradient heading"><i class="bi bi-cart-fill"></i> My Cart</h4>
            <table class="table table-striped table-hover table-bordered">
                <thead class="">
                    <tr>
                        <th>SN.</th>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Sub-total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.food.title}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                        <td>
                            <!-- requires dynamic id of cart product obj which retrives cart product -->
                            <a href="{% url 'restroapp:managecart' cp.id %}?action=add" class="btn view">+</a>
                            <a href="{% url 'restroapp:managecart' cp.id %}?action=sub" class="btn view">-</a>
                            <a href="{% url 'restroapp:managecart' cp.id %}?action=del" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Total:</th>
                        <th>Rs. {{cart.total}}</th>
                        <!-- ensures that cart is not empty before showing the option -->
                        {% if cart.cartproduct_set.all %}
                        <th><a href="{% url 'restroapp:emptycart' %}" class="btn btn-danger">Empty Cart</a></th>
                        {% endif %}
                    </tr>
                    
                </tbody>

            </table>
            {% if cart.cartproduct_set.all %}
                
            <a href="{% url 'restroapp:checkout' %}" class="btn view">Checkout</a>
                
            {% endif %}
        </div>
    </div>
</div>
{% endblock %} 