{% extends 'base.html' %}
{% load static %}
{% block title %}My Cart{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4 class="mt-5">My Cart</h4><hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN.</th>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Sub-total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.food.title}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                        <td>
                            <!-- requires dynamic id of cart product obj which retrives cart product -->
                            <a href="{% url 'restroapp:managecart' cp.id %}?action=add" class="btn view">+</a>
                            <a href="{% url 'restroapp:managecart' cp.id %}?action=sub" class="btn view">-</a>
                            <a href="{% url 'restroapp:managecart' cp.id %}?action=del" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Total:</th>
                        <th>Rs. {{cart.total}}</th>
                        <!-- ensures that cart is not empty before showing the option -->
                        {% if cart.cartproduct_set.all %}
                        <th><a href="{% url 'restroapp:emptycart' %}">Empty Cart</a></th>
                        {% endif %}
                    </tr>
                    {% if cart.cartproduct_set.all %}
                    <tr>
                        <th><a href="{% url 'restroapp:checkout' %}">Checkout</a></th>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %} 